In this project, I will be analyzing data from a survival show that I am currently watching called Boys Planet. After the cleaning and simple analysis, I will use the organized data to do visualization on Tableau. More information can be found in the README.md which I will write soon (hopefully).<br>
The data are obtained from spreadsheets that are circulating online and compiled by fans. Therefore, I will verify and clean the data first before analysing and preparing it for Tableau visualization.

In [8]:
#Importing packages
import pandas as pd
import numpy
import matplotlib.style as style
import matplotlib.pyplot as plt
import re

In [2]:
#reading files
bp1 = pd.read_excel('Boys Planet (EP1-5).xlsx')
bp2 = pd.read_excel('Boys Planet (EP6-8).xlsx')

In [3]:
#Exploring the dataframes
print(bp1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 19 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Name                              93 non-null     object
 1   Points                            54 non-null     object
 2   No Benefit                        54 non-null     object
 3   Korean Votes                      54 non-null     object
 4   Intl. Votes                       54 non-null     object
 5   Total Votes                       54 non-null     object
 6   Ep 1 Ranking                      93 non-null     int64
 7   Ep 2 Ranking                      93 non-null     int64
 8   Ep 5 Ranking (First Elimination)  93 non-null     int64
 9   Performance in Ep 1               93 non-null     bool
 10  Performance in Ep 2               93 non-null     bool
 11  Performance Group Mission 1       93 non-null     object
 12  Performance in Ep 3               93 non-null     bool
 13  Performance in Ep 4               93 non-null     bool
 14  Star Ranking (Performance)        93 non-null     int64
 15  Star Ranking (Re-evaluation)      93 non-null     int64
 16  Company                           72 non-null     object
 17  Group                             93 non-null     object
 18  Country                           0 non-null      float64
dtypes: bool(4), float64(1), int64(5), object(9)
memory usage: 11.4+ KB
None

In [4]:
print(bp2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Name                             51 non-null     object
 1   Points                           30 non-null     object
 2   No Benefit                       30 non-null     object
 3   Korean Votes                     30 non-null     object
 4   Intl. Votes                      30 non-null     object
 5   Total Votes                      30 non-null     object
 6   Ep 6 Ranking                     51 non-null     int64
 7   Ep 8 Ranking (Second Elimation)  51 non-null     int64
 8   Performance Group Mission 2      51 non-null     object
dtypes: int64(2), object(7)
memory usage: 3.7+ KB
None

From bp1 dataframe, most columns have 93 non-null datapoints, which is correct since there are 93 contestants at the start. <br>
The company column have missing values, which is most likely left empty if the contestants do not have any company. <br>
I will fix that later.<br>
Some columns only have 54 datapoints as it is related to the elimination.<br>
From bp2 dataframe, it looks accurate but I will check it just in case.<br>
First, I shall fix the column names to a snakecase format.

In [68]:
#changing the columns name to snakecase
colnamebp1 = bp1.columns
snakecasename = []
for name in colnamebp1:
    name = re.sub(r'\s+', '_', name)
    name = re.sub('[^A-Za-z\d[_]]', '', name)
    name = re.sub(r'[()-.]', '', name)
    name = name.lower()
    snakecasename.append(name)

bp1.columns = snakecasename

colnamebp2 = bp2.columns
snakecasename = []
for name in colnamebp2:
    name = re.sub(r'\s+', '_', name)
    name = re.sub('[^A-Za-z\d[_]]', '', name)
    name = re.sub(r'[()-.]', '', name)
    name = name.lower()
    snakecasename.append(name)

bp2.columns = snakecasename

In [69]:
print(bp1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            93 non-null     object
 1   points                          54 non-null     object
 2   no_benefit                      54 non-null     object
 3   korean_votes                    54 non-null     object
 4   intl_votes                      54 non-null     object
 5   total_votes                     54 non-null     object
 6   ep_1_ranking                    93 non-null     int64
 7   ep_2_ranking                    93 non-null     int64
 8   ep_5_ranking_first_elimination  93 non-null     int64
 9   performance_in_ep_1             93 non-null     bool
 10  performance_in_ep_2             93 non-null     bool
 11  performance_group_mission_1     93 non-null     object
 12  performance_in_ep_3             93 non-null     bool
 13  performance_in_ep_4             93 non-null     bool
 14  star_ranking_performance        93 non-null     int64
 15  star_ranking_reevaluation       93 non-null     int64
 16  company                         72 non-null     object
 17  group                           93 non-null     object
 18  country                         0 non-null      float64
dtypes: bool(4), float64(1), int64(5), object(9)
memory usage: 11.4+ KB
None

In [70]:
print(bp2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   name                           51 non-null     object
 1   points                         30 non-null     object
 2   no_benefit                     30 non-null     object
 3   korean_votes                   30 non-null     object
 4   intl_votes                     30 non-null     object
 5   total_votes                    30 non-null     object
 6   ep_6_ranking                   51 non-null     int64
 7   ep_8_ranking_second_elimation  51 non-null     int64
 8   performance_group_mission_2    51 non-null     object
dtypes: int64(2), object(7)
memory usage: 3.7+ KB
None

In [86]:
#Next I want to join the two dataframe into one
bp = pd.merge(bp1, bp2, on='name', how='outer', suffixes = ('_first_elim','_second_elim'))
print(bp.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            93 non-null     object
 1   points_first_elim               54 non-null     object
 2   no_benefit_first_elim           54 non-null     object
 3   korean_votes_first_elim         54 non-null     object
 4   intl_votes_first_elim           54 non-null     object
 5   total_votes_first_elim          54 non-null     object
 6   ep_1_ranking                    93 non-null     int64
 7   ep_2_ranking                    93 non-null     int64
 8   ep_5_ranking_first_elimination  93 non-null     int64
 9   performance_in_ep_1             93 non-null     bool
 10  performance_in_ep_2             93 non-null     bool
 11  performance_group_mission_1     93 non-null     object
 12  performance_in_ep_3             93 non-null     bool
 13  performance_in_ep_4             93 non-null     bool
 14  star_ranking_performance        93 non-null     int64
 15  star_ranking_reevaluation       93 non-null     int64
 16  company                         72 non-null     object
 17  group                           93 non-null     object
 18  country                         0 non-null      float64
 19  points_second_elim              30 non-null     object
 20  no_benefit_second_elim          30 non-null     object
 21  korean_votes_second_elim        30 non-null     object
 22  intl_votes_second_elim          30 non-null     object
 23  total_votes_second_elim         30 non-null     object
 24  ep_6_ranking                    51 non-null     float64
 25  ep_8_ranking_second_elimation   51 non-null     float64
 26  performance_group_mission_2     51 non-null     object
dtypes: bool(4), float64(3), int64(5), object(15)
memory usage: 17.8+ KB
None

In [82]:
#Some columns that should be an integer, like points, are saved as object. This will convert them to interger dtype.
print(bp['points_first_elim'])

0     1604766.0
1     1137561.0
2      634033.0
3      374970.0
4     1130151.0
        ...
88     341689.0
89          NaN
90          NaN
91    5636185.0
92     732400.0
Name: points_first_elim, Length: 93, dtype: float64

In [83]:
def col_to_num(col):
    col = col.str.replace(' ','')
    col = pd.to_numeric(col)
    return col

In [87]:
bp['points_first_elim'] = col_to_num(bp['points_first_elim'])
bp['no_benefit_first_elim'] = col_to_num(bp['no_benefit_first_elim'])
bp['korean_votes_first_elim'] = col_to_num(bp['korean_votes_first_elim'])
bp['intl_votes_first_elim'] = col_to_num(bp['intl_votes_first_elim'])
bp['total_votes_first_elim'] = col_to_num(bp['total_votes_first_elim'])
bp['points_second_elim'] = col_to_num(bp['points_second_elim'])
bp['no_benefit_second_elim'] = col_to_num(bp['no_benefit_second_elim'])
bp['korean_votes_second_elim'] = col_to_num(bp['korean_votes_second_elim'])
bp['intl_votes_second_elim'] = col_to_num(bp['intl_votes_second_elim'])
bp['total_votes_second_elim'] = col_to_num(bp['total_votes_second_elim'])

print(bp.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            93 non-null     object
 1   points_first_elim               54 non-null     float64
 2   no_benefit_first_elim           54 non-null     float64
 3   korean_votes_first_elim         54 non-null     float64
 4   intl_votes_first_elim           54 non-null     float64
 5   total_votes_first_elim          54 non-null     float64
 6   ep_1_ranking                    93 non-null     int64
 7   ep_2_ranking                    93 non-null     int64
 8   ep_5_ranking_first_elimination  93 non-null     int64
 9   performance_in_ep_1             93 non-null     bool
 10  performance_in_ep_2             93 non-null     bool
 11  performance_group_mission_1     93 non-null     object
 12  performance_in_ep_3             93 non-null     bool
 13  performance_in_ep_4             93 non-null     bool
 14  star_ranking_performance        93 non-null     int64
 15  star_ranking_reevaluation       93 non-null     int64
 16  company                         72 non-null     object
 17  group                           93 non-null     object
 18  country                         0 non-null      float64
 19  points_second_elim              30 non-null     float64
 20  no_benefit_second_elim          30 non-null     float64
 21  korean_votes_second_elim        30 non-null     float64
 22  intl_votes_second_elim          30 non-null     float64
 23  total_votes_second_elim         30 non-null     float64
 24  ep_6_ranking                    51 non-null     float64
 25  ep_8_ranking_second_elimation   51 non-null     float64
 26  performance_group_mission_2     51 non-null     object
dtypes: bool(4), float64(13), int64(5), object(5)
memory usage: 17.8+ KB
None

In [96]:
#checking if there are any wrong/repeated values in the ranking columns
print(bp['ep_1_ranking'].value_counts().sum())
print(bp['ep_2_ranking'].value_counts().sum())
print(bp['ep_5_ranking_first_elimination'].value_counts().sum())
print(bp['ep_6_ranking'].value_counts().sum())
print(bp['ep_8_ranking_second_elimation'].value_counts().sum())

93
93
93
51
51